body {
	background-color: #FDF5E6;
}
div {
	display:inline-block;
	height: 50px;
	width: 50px;
    border-radius: 10px;
    font-size: 2em;
}
.space {
	background-color:  #FDF5E6;
}
/* Четные - бирюзовые */
.even {
	color: #00CED1;
	background-color:  #AFEEEE;
	outline: 2px solid #00CED1; /* Внешняя рамка */
	border: 3px solid #fff; /* Белая рамка */
}

/* Нечетные - розовые */
.uneven {
	color: #FF69B4;
	background-color:  #FFC0CB;
	outline: 2px solid #FF69B4;
	border: 3px solid #fff;
}